# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://yfdwgkpttvffpoibisjj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmZHdna3B0dHZmZnBvaWJpc2pqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY2NTIwNjQsImV4cCI6MjA3MjIyODA2NH0.qxswLwSsluBP0T12AYphQLec4djwMV_s4QYUBrWQtT4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmZHdna3B0dHZmZnBvaWJpc2pqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjY1MjA2NCwiZXhwIjoyMDcyMjI4MDY0fQ.Nt_kEQQme0Q2MwlqVNjutBx9FHFBVdhWNdJv5jWjUVc

# Stream.io Configuration
STREAM_API_KEY=h246k69k7evm
STREAM_API_SECRET=5de9xd6cw6u2dn3r7r9jqucu8rswbtnpx4hanz3zkbxpvmmxvg3smd9vrb6zak6f
# Stream.io - Client-side (for browser)
NEXT_PUBLIC_STREAM_API_KEY=h246k69k7evm

# Firebase Configuration (for FCM)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBZrJtVRkcQSeRazVWILkaEAPvEFAHaeHc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sablon-4d924.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sablon-4d924
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sablon-4d924.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=770265453337
NEXT_PUBLIC_FIREBASE_APP_ID=1:770265453337:web:45a22c1b3fc1aaffd8ab88
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BMb_Nv78DlpfohPzqs8AxSZJ67dGTG1JN7TO_dWD1ch4XaUcUpd6LOEePGrF7EEGEbaVtkblp7ABGYU3tnswkc8

# Firebase Admin SDK (for server-side FCM)
# Replace with your actual Firebase service account JSON
GOOGLE_SERVICES_JSON={"type":"service_account","project_id":"your-project-id","private_key_id":"your-private-key-id","private_key":"-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n","client_email":"firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com","client_id":"your-client-id","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xxxxx%40your-project-id.iam.gserviceaccount.com","universe_domain":"googleapis.com"}


# APNs Configuration (for iOS notifications)
APNS_CERT_DATA=your_base64_encoded_p12_certificate
APNS_PASSPHRASE=your_certificate_passphrase

# Environment
NODE_ENV=development

NEXT_PUBLIC_API_URL=""